@charset "utf-8";

body, header {
	min-height: 100%;
	background: white;
	overflow: auto;
	background-image: url('planoale.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: top center;
	
}
.fade-item {
      transition: opacity 0.8s ease;
    opacity: 1;
    height: 100px;
    margin: 50px 0;
    background-color: lightblue;
}



.cabecalho { 

max-width:100%;
 }

 .planos{
 	font-family: "Gayathri", sans-serif;
  font-weight: 100;
  font-style: normal;
  margin-top: 9vh;
 	
 }

 .mensais { 
font-weight: 800;
 	font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  display: block;
  margin-left: 5%;

  }	

  summary {
  	font-weight: 800;
 	font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;

  }

  .um{ 
  	margin-top: 15vh;
  	margin-right: 10vh;
  	padding: 18px 2px 18px 2px;
  	color: white;
  	border-radius: 2px;
  background:linear-gradient(to right, black, white);
  margin-bottom: 0px; }


.resp{background: #FFFFFF; color: black;
padding: 8px 2px 10px 2px;
border-radius: 5px;
font-family: "Gayathri", sans-serif;
  font-weight: 100;
  font-style: normal;
  border:2px solid black }

  a { 
  text-decoration:none; 
  color:white;
  font-family: "Gayathri", sans-serif;
  font-weight: 400;
 
}
   button { 
   	padding: 5px 2px 5px 2px;
  background:green; 
display: block;
margin-left: 35%;
    }

  .botao .whats{
padding: 5px 2px 5px 2px;
  background:green; 
display: block;
margin-left: 35%;
}

 .dois{ 
  	margin-top: 3vh;
  	margin-right: 10vh;
  	padding: 18px 2px 18px 2px;
  	color: white;
  	border-radius: 2px;
  background:linear-gradient(to right, #FF4400, #FFC400);
  margin-bottom: 0px; }

  .tres{ 
  	margin-top: 3vh;
  	margin-right: 10vh;
  	padding: 18px 2px 18px 2px;
  	color: white;
  	border-radius: 2px;
  background:linear-gradient(to right, #7FFF00, #00601A);
  margin-bottom: 0px; }

  .quatro { 
  	  	margin-top: 3vh;
  	margin-right: 10vh;
  	padding: 18px 2px 18px 2px;
  	color: white;
  	border-radius: 2px;
  background:linear-gradient(to right, #FF0000, #FE0000);
  margin-bottom: 0px; }

   

   section#frame2 { 
  min-height:100%; }
